<div class="jumbotron">
  <h1><i class="fa fa-envelope"> </i> Projeto</h1>
  <p>Aplicação de gerenciamento de tarefas desenvolvidas em Ruby on Rails</p>
  
  
  <p><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
</div>